.div {
  background-color: #ffffff;
  color: #2c3e50;
  padding-top: 40px;
  padding-bottom: 60px;
}

.secondDiv {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.thirdDiv {
  flex: 1;
}

.h1 {
  font-size: 36px;
  color: #e74c3c;
  margin: 0px 0px 0px 0px;
}

.p {
  font-size: 15px;
  color: #2c3e50;
  margin: 0px 0px 0px 0px;
}

.fourthDiv {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.image {
  width: 76px;
  height: 76px;
}

.fifthDiv {
  margin-left: 20px;
}

.h3 {
  margin: 0px;
}

.secondP {
  margin: 5px 0px;
}

.sixthDiv {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.seventhDiv {
  padding-top: 60px;
}

.h2 {
  margin: 0px;
  color: #e74c3c;
}

.EighthDiv {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.connectImg {
  width: 50px;
  height: 50px;
}

.connectImg00 {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.ninthDiv {
  flex: 1;
  padding-top: 24px;
}

@media (max-width: 1060px) {
  .h1 {
    font-size: 36px;
  }
  .p {
    font-size: 15px;
  }
  .image {
    width: 76px;
    height: 76px;
  }
  .h3 {
    font-size: 18.72px;
  }
  .secondP {
    font-size: 16px;
  }
  .secondDiv {
    display: block;
  }
}

@media (max-width: 768px) {
  .div {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .secondDiv {
    padding: 0 10px;
  }
  .h1 {
    font-size: 25px;
    margin: "0px 0px 0px 0px";
  }
  .p {
    font-size: 13px;
    margin: "0px 0px 0px 0px";
  }
  .fourthDiv {
    padding-top: 20px;
  }
  .image {
    width: 45px;
    height: 45px;
  }
  .fifthDiv {
    margin-left: 8px;
  }
  .h3 {
    font-size: 15px;
  }
  .secondP {
    font-size: 13px;
    margin: 2px 0px;
  }
  .sixthDiv {
    padding-top: 10px;
  }
  .seventhDiv {
    padding-top: 20px;
  }
  .h2 {
    font-size: 18px;
  }
  .EighthDiv {
    padding-top: 5px;
  }
  .connectImg {
    width: 38px;
    height: 38px;
  }
  .connectImg00 {
    width: 38px;
    height: 38px;
    margin-left: 10px;
  }
  .ninthDiv {
    padding-top: 0px;
    padding-right: 10px;
  }
}
